header {
  background-image: url('/static/background-header.jpg');
  background: #666;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  text-align: center;

  .title {
    display: inline-block;
    padding: 8px 28px;
    border: 5px solid #fff;
    font-family: $montserrat;
    font-style: italic;
    font-weight: 700;
    font-size: 42px;
    margin-top: 70px;
    margin-bottom: 450px;
  }
  .name {
    margin-top: 50px;
    margin-bottom: 17px;
    h1 {
      font-family: $josefin;
      font-weight: 700;
      font-size: 72px;
    }
  }
  .job-position  {
    margin-bottom: 40px;
    h2 {
      font-family: $montserrat;
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  }
  .contact {
    display: flex;
    &-grid {
      display: grid;
      grid-template-columns: 300px 300px;
      margin: 0 auto;
      &-item {
        margin: 0 auto;
        padding: 10px 20px;
        &-icon {
          font-size: 42px;
        }
        &-info {
          font-family: $quicksand;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}
