header {
  background: #666 url('./assets/background-header.jpg') no-repeat 50% 65%;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  text-align: center;

  @media (max-height: 480px) and (max-width: 1024px){
    height: 650px;
    position: relative;
  }

  .overlay-top, .overlay-bottom {
    background: $blacktowhite;
    width: 100%;
    position: absolute;
    opacity: 0.7;
    z-index: 5;
  }
  .overlay-top {
    height: 250px;
  }
  .overlay-bottom {
    height: 350px;
    bottom: 0;
    transform: rotate(180deg);
  }
  .container {
    position: relative;
    z-index: 10;
    height: 100vh;
    @media (max-height: 480px) and (max-width: 1024px){
      height: 100%;
    }
  }
  .top, .bottom {
    position: absolute;
    width: 100%;
  }
  .top {
    top: 0;

    .title {
      display: inline-block;
      padding: 8px 28px;
      border: 6px solid #fff;
      font-family: $montserrat;
      font-style: italic;
      font-weight: 700;
      font-size: 42px;
      margin-top: 70px;
      margin-bottom: 450px;

      @include breakpoint(0, 479px) {
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 210px;
        border: 4px solid #fff;
      }
      @include breakpoint(480px, 767px) {
        font-size: 28px;
        margin-top: 40px;
        margin-bottom: 400px;
      }
      @include breakpoint(768px, 1024px) {
        font-size: 32px;
        margin-top: 50px;
        margin-bottom: 400px;
      }
    }
  }
  .bottom {
    bottom: 0;

    .name {
      margin-top: 50px;
      margin-bottom: 17px;
      h1 {
        font-family: $josefin;
        font-weight: 700;
        font-size: 72px;
      }
      @include breakpoint(0, 479px) {
        margin-bottom: 8px;
        h1 {
          font-size: 42px;
        }
      }
      @include breakpoint(480px, 767px) {
        margin-bottom: 10px;
        h1 {
          font-size: 56px;
        }
      }
      @include breakpoint(768px, 1024px) {
        margin-bottom: 15px;
        h1 {
          font-size: 60px;
        }
      }
    }
    .job-position  {
      margin-bottom: 40px;
      h2 {
        font-family: $montserrat;
        font-weight: 500;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
      @include breakpoint(0, 479px) {
        margin-bottom: 15px;
        h2 {
          font-size: 14px;
        }
      }
      @include breakpoint(480px, 767px) {
        margin-bottom: 10px;
        h2 {
          font-size: 16px;
        }
      }
      @include breakpoint(768px, 1024px) {
        margin-bottom: 40px;
        h2 {
          font-size: 18px;
        }
      }
    }
    .contact {
      display: flex;
      margin-bottom: 50px;

      @include breakpoint(0, 479px) {
        margin-bottom: 25px;
      }

      &-grid {
        display: grid;
        grid-template-columns: 300px 300px;
        margin: 0 auto;

        @include breakpoint(0, 767px) {
          grid-template-columns: 200px;
          grid-row-gap: 10px;
        }
        &-item {
          margin: 0 auto;
          padding: 10px 20px;
          &-icon {
            font-size: 42px;
          }
          &-info {
            font-family: $quicksand;
            font-weight: 500;
          }
          @include breakpoint(0, 767px) {
            padding: 0 20px;
            &-info {
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
